/* NanumSquareNeo Light */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Regular */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Bold */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo ExtraBold */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* NanumSquareNeo Black */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../fonts/NanumSquareNeo-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/* Paperlogy Thin (100) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy ExtraLight (200) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy Light (300) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy Regular (400) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy Medium (500) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy SemiBold (600) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy Bold (700) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy ExtraBold (800) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Paperlogy Black (900) */
@font-face {
    font-family: 'Paperlogy';
    src: url('../fonts/Paperlogy-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}